Playground.playground/contents.xcplayground
Playground.playground/timeline.xctimeline
Playground.playground/playground.xcworkspace/contents.xcworkspacedata
Playground.playground/playground.xcworkspace/xcuserdata/ankit.xcuserdatad/UserInterfaceState.xcuserstate
Playground.playground/xcuserdata/ankit.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcbkptlist
contents.xcworkspacedata
UserInterfaceState.xcuserstate
